:root{
  --color-DarkGray: #222;
  --color-BasicWhite: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.Gallery-Container {
  position: relative;
  min-height: 100vh;
  padding: 5vh 0 20vh 0;

}

.Gallery-Container .Image-Container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5vh;
  justify-content: center;
  padding: 10px;
}
 
.Gallery-Container .Image-Container .Image {
  height: 350px;
  width: 470px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  overflow: hidden;
  cursor: pointer;
}

.Gallery-Container .Image-Container .Image img {
  height: 100%;
  width: 100%;
object-fit: cover;
transition: .4s linear;
}

.Gallery-Container .Image-Container .Image:hover img {
  transform: scale(1.1);
}
