.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    padding-top: 1.2vh;
}

.course-col {
    flex-basis: 19%;
    background: #3586FF;
    opacity: .8;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col a,
.course-col a:link,
.course-col a:visited {
    text-decoration: none;
    color: white;
}

.course-col p {
    font-size: 2.7vh;
}

.course-rows {
    padding-bottom: 10vh;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 8px rgba(37, 95, 154, 0.621);
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Facilities */

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}